@import "tailwindcss";

@theme {
  --font-sans: "Roboto Mono", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-[#1A1B2A];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.bobble {
  animation: bobble-ani 0.7s infinite ease-in-out alternate; 
}

@keyframes bobble-ani {
  0% {
    transform: translateY(0); 
  }
  100% {
    transform: translateY(6px);
  }
}
