@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Roboto Mono", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {

  color-scheme: dark;

}

img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    /* Safari seems to support, but seems deprecated and does the same thing as the others. */
    image-rendering: -webkit-optimize-contrast;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -webkit-optimize-contrast; /* Safari, Chrome */
    -ms-interpolation-mode: nearest-neighbor; /* IE */
}

.bobble {
  animation: bobble-ani 0.7s infinite ease-in-out alternate; 
}

@keyframes bobble-ani {
  0% {
    transform: translateY(0); 
  }
  100% {
    transform: translateY(6px);
  }
}

.markdown a {
  color: #AEBCFF;
}

.markdown ul {
  list-style: disc;
  padding-left: 1.25rem;
}

.markdown ol {
  list-style: decimal;
  padding-left: 3rem;
}

.markdown li {
  margin: 0rem 0;
}

.markdown li::marker {
  color: #AEBCFF;
}